@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --c-background: hsl(235, 21%, 11%);
  --c-title: hsl(0, 0%, 100%);
  --c-todo-item: hsl(235, 24%, 19%);
  --c-todo-item-text: hsl(234, 39%, 85%);
  --c-todo-item-text-hover: hsl(236, 33%, 92%);
  --c-todo-item-check-circle: hsl(237, 14%, 26%);
  --c-todo-item-border: hsl(237, 14%, 26%);
}

.theme-light {
  --c-background: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: var(--c-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  margin-top: 0;
}

a {
}

input,
button {
  font-family: inherit;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1.8755rem;
  background: url('/bg-mobile-dark.jpg') no-repeat left top;
  height: 200px;
}

.title {
  font-size: 1.625rem;
  font-weight: 800;
  margin-right: auto;
  margin-bottom: 0;
  color: var(--c-title);
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.btn-theme {
  margin: -1rem -1rem 0 0;
  padding: 1rem;
  border: 0;
  background: none;
}

.btn-theme img {
  display: block;
  width: 1.25rem;
}

.main {
  margin-top: -5.75rem;
}

.todo-form {
  margin-bottom: 1rem;
  position: relative;
}

.todo-input {
  font-size: 12px;
  width: 100%;
  height: 3rem;
  border: 0;
  padding: 0.625rem 1rem 0.5rem 3.25rem;
  background-color: var(--c-todo-item);
  border-radius: 0.375rem;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--c-todo-item);
  border-radius: 0.375rem;
}

.todo-item {
  display: flex;
  position: relative;
}

.todo-item + .todo-item {
  border-top: 1px solid var(--c-todo-item-border);
}

.todo-btn,
.todo-delete {
  background: none;
  padding: 0;
  border: 0;
  color: var(--c-todo-item-text);
}

.todo-btn {
  font-size: 12px;
  width: 100%;
  height: 3.25rem;
  border: 0;
  padding: 0.625rem 3rem 0.5rem 3.25rem;
  background-color: var(--c-todo-item);
  border-radius: 0.375rem;
  text-align: left;
}

.todo-form::before,
.todo-btn::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  border: 1px solid var(--c-todo-item-check-circle);
  border-radius: 1.25rem;
}

.todo-btn:hover,
.todo-btn:focus {
  color: var(--c-todo-item-text-hover);
}

.todo-delete {
  width: 3.25rem;
  height: 3.25rem;
  color: var(--c-todo-item-text);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-delete img {
  width: 0.75rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
